<div class="container">
<h1>管理者のページ</h1>
<div class="row">

<div class="col">
<h5>お知らせ投稿</h5>
<%= form_with model: @information, url: admin_information_index_path do |f| %>
<div>タイトル</div>
<div><%= f.text_field :info_title %></div>
<div>本文</div>
<div><%= f.text_area :info_body %></div>
<%= f.submit "お知らせ送信" %>
<% end %>
</div>

<div class="col">
<h5>ブログ投稿</h5>
<%= form_with model: @blog, url: admin_blogs_path do |f| %>
<div>タイトル</div>
<div><%= f.text_field :blog_title %></div>
<div>本文</div>
<div><%= f.text_area :blog_body %></div>
<%= f.submit "ブログ送信" %>
<% end %>
</div>

<div class="col">
<h5>グッズ投稿</h5>
<%= form_with model: @good, url: admin_goods_path do |f| %>
<div>商品名</div>
<div><%= f.text_field :good_name %></div>
<div>商品説明</div>
<div><%= f.text_field :good_info %></div>
<div>値段</div>
<div><%= f.text_field :price %></div>
<%= f.submit "商品登録" %>
<% end %>
</div>

</div>
</div>