<!DOCTYPE html>
<html>
  <head>
    <title>MMJFcApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container" style="background-color: lightpink;">
      <% if admin_signed_in? %>
      <%= link_to "TOP", admin_root_path %>
      <%= link_to "お知らせ一覧", admin_information_index_path %>
      <%= link_to "日記一覧", admin_blogs_path %>
      <%= link_to "グッズ一覧", admin_goods_path %>
      外部リンク
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      <% elsif user_signed_in? %>
      <%= link_to "TOP", root_path %>
      <%= link_to "メンバー紹介", members_index_path %>
      <%= link_to "MORE MORE JUMP!からのお知らせ", information_index_path %>
      <%= link_to "MORE MORE JUMP!の日記", blogs_path %>
      グッズ通販
      外部リンク
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "TOP", root_path %>
      <%= link_to "メンバー紹介", members_index_path %>
      <%= link_to "MORE MORE JUMP!からのお知らせ", information_index_path %>
      <%= link_to "MORE MORE JUMP!の日記", blogs_path %>
      グッズ通販
      外部リンク
      <%= link_to "新規会員登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </div>
  </header>
  <main><%= yield %></main>
  <footer>
    <div class="container"></div>
  </footer>
  </body>
</html>
